{% extends "base.html" %}

{% block set_title %}Problem - {{ p.oj|upper }} - {{ p.problem_id }}{% endblock %}

{% block othercss %}
    <style>
        .title {
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block bodytext %}
    <div class="page-header title">
        <h1>{{ p.title }}<small>&nbsp;&nbsp;&nbsp;From {{ p.oj|upper }}</small></h1>
        <div class="info">
            <p>
                <strong>Time Limit:</strong>&nbsp;{{ p.time_limit_c }}MS / {{ p.time_limit_java }}MS (C/Java)&nbsp;
                <strong>Memory Limit:</strong>&nbsp;{{ p.memory_limit_c }}K / {{ p.memory_limit_java }}K (C/Java)
            </p>
        </div>
    </div>
    <div class="container">
        <h3>Description</h3>
        <div class="container"><p>{{ p.description|safe }}</p></div>
    </div>
    <div class="container">
        <h3>Input</h3>
        <div class="container"><p>{{ p.input|safe }}</p></div>
    </div>
    <div class="container">
        <h3>Output</h3>
        <div class="container"><p>{{ p.output|safe }}</p></div>
    </div>
    <div class="container">
        <h3>Sample Input</h3>
        <div class="container"><pre>{{ p.sample_input|safe }}</pre></div>
    </div>
    <div class="container">
        <h3>Sample Output</h3>
        <div class="container"><pre>{{ p.sample_output|safe }}</pre></div>
    </div>
    {% if p.hint %}
        <div class="container">
            <h3>Hint</h3>
            <div class="container"><p>{{ p.hint|safe }}</p></div>
        </div>
    {% endif %}
    {% if p.source %}
        <div class="container">
            <h3>Source</h3>
            <div class="container"><p>{{ p.source|safe }}</p></div>
        </div>
    {% endif %}
    <div class="container">
        <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#submit" style="margin:0 auto;display:block;">
            Submit
        </button>
    </div>
    <div class="modal fade" id="submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Submit Your Code</h4>
                </div>
                <div class="modal-body">
                    <form>
                        {% csrf_token %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}