{% extends 'base.html' %}
{% block set_title %}Change Password{% endblock %}
{% block bodytext %}
    <h1 class="text-center" style="margin-top: 50px">Change Password</h1>
    <div class="container" style="margin-top: 50px;margin-bottom: 50px;width: 25%;">
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <input name="username" type="hidden" value="{{ user.username }}">
            <label for="id_password1">Old Password:</label>
            <input id="id_password1" name="password1" placeholder="Password" type="password" class="form-control"><br>
            <label for="id_password2">New Password:</label>
            <input id="id_password2" name="password2" placeholder="Password" type="password" class="form-control"><br>
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}