{% extends "base.html" %}

{% block set_title %}Login{% endblock %}

{% block othercss %}
    <style>
        #main {
            margin-bottom: 150px;
        }
        #forms {
            width: 25%;
            float: left;
            margin-top: 100px;
        }
        #info {
            width: 70%;
            float: right;
            margin-top: 100px;
        }
    </style>
{% endblock %}

{% block bodytext %}

    <div id = "main" class = "container">
        <div id = "forms" class = "container">
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">Sorry, that's not a valid username or password.</div>
            {% endif %}
            <form id = "login" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputUsername">Username</label>
                    <input type="username" name="username" class="form-control" id="exampleInputUsername" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" value="login" class="btn btn-default">Submit</button>
                <input type="hidden" name="next" value="{% url 'home' %}" />
            </form>
        </div>
        <div id = "info" class = "container">
            <div class="jumbotron">
              <h1>Hello, world!</h1>
              <p>...</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
        </div>
    </div>

{% endblock %}