{% extends "base.html" %}

{% block set_title %}Register{% endblock %}

{% block othercss %}
    <style>
        #main {
            margin-top: 50px;
            margin-bottom: 150px;
        }
        #forms {
            width: 25%;
            margin-top: 100px;
        }
    </style>
{% endblock %}

{% block bodytext %}
    <div id = "main" class = "container">
        <div id = "forms" class = "container">
            <form id = "login" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputUsername">Username</label>
                    <input type="username" name="username" class="form-control" id="exampleInputUsername" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password1" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password confirmation</label>
                    <input type="password" name="password2" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" value="login" class="btn btn-default">Submit</button>
                <input type="hidden" name="next" value="{% url 'home' %}" />
            </form>
        </div>
    </div>
{% endblock %}