{% extends "base.html" %}

{% block set_title %}Submit{% endblock %}

{% block othercss %}
    <style>
        #head h1 {
            font-size: 64px;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 50px;
        }
        #submit_form {
            margin: auto;
            width: 50%;
            text-align: center;
        }
        #id_language {
            width: 60%;
        }
    </style>
{% endblock %}

{% block bodytext %}
    <div class="container">
        <div id="head" class="container">
            <h1>Submit Your Code</h1>
        </div>
        {% if form.errors %}
            <div class="alert alert-danger" role="alert" style="width: 50%;margin: auto"><h3>Sorry</h3>{{ form.errors }}</div>
        {% endif %}
        <form id="submit_form" method="POST">
            {% csrf_token %}
            <div class="form-group" style="float: left;width: 40%">
                <label style="float: left;margin-top: 5px;">Problem(id):&nbsp;&nbsp;&nbsp;</label>
                <input id="id_problem" class="form-control" name="problem" type="text" style="width: 50%">
            </div>
            <div class="form-group" style="float: right;width: 40%">
                <label style="float: left;margin-top: 5px;width: 40%">Language:</label>
                {{ form.language }}
            </div>
            <div class="form-group">
                <label for="id_code" style="margin-top: 50px;font-size: 32px;">Code:</label>
                <textarea cols="70" id="id_code" maxlength="5000" name="code" rows="20"></textarea>
            </div>
            <button type="submit" value="submit" class="btn btn-default">Submit</button>
            <input type="hidden" name="uid" value="{{ user.id }}" />
        </form>
    </div>
{% endblock %}