{% extends "base.html" %}
{% load status_tags %}
{% block set_title %}Show Code{% endblock %}
{% block othercss %}
    <link href="/css/prettify.css" type="text/css" rel="stylesheet" />
    <style type="text/css">
        .find_error {
            margin-top: 250px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 200px;
            width: 400px;
            height: 100px;
            text-align: center;
        }

        .find_error img {
            position: relative;
            right: 120px;
            top: 10px;
        }

        .find_error h3 {
            position: relative;
            left: 20px;
            bottom: 50px;
        }
    </style>
{% endblock %}

{% block headjs %}
    <script src="/js/prettify.js"></script>
{% endblock %}

{% block bodytext %}
    {% if error %}
        <div class="alert alert-danger find_error" role="alert">
            <img src="/img/alert.png" width="50" height="50">

            <h3>
                {% ifequal error 1 %}No Such Run id!{% endifequal %}
                {% ifequal error 2 %}Permission Denied!{% endifequal %}
            </h3>
        </div>
    {% else %}
        <div class="container" style="margin-top: 50px;margin-bottom: 50px">
            <h1 style="text-align: center">Show Your Code</h1>

            <div class="jumbotron" style="margin-top: 50px;text-align: center">
                <p><strong>Submit Time: </strong>{{ s.submit_time }} <strong>Judge Status: </strong><span style="color: {{ s.status|text_color }};">{{ s.status }}</span></p>

                <p><strong>Language: </strong>{{ s.language|upper }} <strong>Use Time: </strong>{{ s.use_time }} MS <strong>Use Memory: </strong>{{ s.use_memory }} K</p>

                <p><strong>OJ: </strong>{{ s.problem.oj|upper }} <strong>Problem Id: </strong><a href="{% url 'problempage' s.problem.id %}">{{ s.problem.problem_id }}</a>
                    <strong>User Name: </strong><a href="{% url 'userpage' s.user.username %}">{{ s.user.username }}</a></p>
            </div>
            <pre class="prettyprint linenums">{{ code }}</pre>
        </div>
    {% endif %}
{% endblock %}

{% block otherjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            prettyPrint();
        });
    </script>
{% endblock %}