{% extends "base.html" %}
{% load status_tags %}
{% block set_title %}Status{% endblock %}
{% block othercss %}
    <style type="text/css">
        .find_error {
            margin-top: 250px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 200px;
            width: 400px;
            height: 100px;
            text-align: center;
        }

        .find_error img {
            position: relative;
            right: 120px;
            top: 10px;
        }

        .find_error h3 {
            position: relative;
            left: 20px;
            bottom: 50px;
        }
    </style>
{% endblock %}
{% block bodytext %}
    <div class="container">
        <h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px">Judge Status</h1>
        {% if error %}
            <div class="alert alert-danger find_error" role="alert">
                <img src="/img/alert.png" width="50" height="50">

                <h3>
                    No Such Page!
                </h3>
            </div>
        {% else %}
            <div class="container">
                <table class="table table-striped table-hover" id="status-tab">
                    <thead>
                    <tr style="background-color: #666666">
                        <th style="width: 6%">Run ID</th>
                        <th style="width: 15%">Submit Time</th>
                        <th style="width: 15%">Judge Status</th>
                        <th style="width: 3%"></th>
                        <th style="width: 3%">OJ</th>
                        <th style="width: 8%">Problem ID</th>
                        <th style="width: 5%">Time</th>
                        <th style="width: 8%">Memory</th>
                        <th style="width: 10%">Code Length</th>
                        <th style="width: 10%">Language</th>
                        <th style="width: 15%">User</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
                        <tr class="{{ i.status|color }}">
                            <th scope="row">{{ i.id }}</th>
                            <td>{{ i.submit_time }}</td>
                            <td style="color: {{ i.status|text_color }}" id="status{{ i.id }}">
                                {% ifequal i.status 'Compilation Error' %}
                                    <a href="{% url 'ce_info' i.id %}">
                                        {{ i.status|safe }}</a>{% else %}{{ i.status|safe }}{% endifequal %}</td>
                            <td id="picture{{ i.id }}">{{ i.status|judge_picture|safe }}</td>
                            <td>{{ i.problem.oj }}</td>
                            <td><a href="{% url 'problempage' i.problem.id %}">{{ i.problem.problem_id }}</a></td>
                            <td id="time{{ i.id }}">{{ i.use_time }}</td>
                            <td id="memory{{ i.id }}">{{ i.use_memory }}</td>
                            <td>{% if user.is_authenticated %}{% ifequal user.id i.user.id %}
                                <a href="{% url 'show_code' i.id %}">{{ i.length }}</a>{% else %}{{ i.length }}
                            {% endifequal %}{% else %}{{ i.length }}{% endif %}</td>
                            <td>{{ i.language }}</td>
                            <td><a href="{% url 'userpage' i.user.username %}">{{ i.user.info.nickname }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <nav>
                    <ul class="pager">
                        <li class="previous {% ifequal page 1 %}disabled{% endifequal %}"><a
                                {% ifnotequal page 1 %}href="/status/?page={{ page|add:'-1' }}"{% endifnotequal %}><span
                                aria-hidden="true">&larr;</span> Previous</a></li>
                        <li class="next {% if over %}disabled{% endif %}"><a
                                {% if not over %}href="/status/?page={{ page|add:'1' }}"{% endif %}>Next <span
                                aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
    <p id="demo"></p>
{% endblock %}
{% block otherjs %}
    <script type="text/javascript">
        var i = 0;
        function auto_refresh() {
            var tb = window.document.getElementById('status-tab');
            var rows = tb.rows;
            for (var i = 1; i < rows.length; i++) {
                var cell = rows[i].cells[2].innerHTML;
                var sid = rows[i].cells[0].innerHTML;
                if (cell.indexOf('Judging') != -1 || cell.indexOf('Queuing') != -1 || cell.indexOf('Compiling') != -1 || cell.indexOf('Running') != -1) {
                    fresh_result(sid);
                }
            }
        }
        function fresh_result(solution_id) {
            var url = "/status/get_status/" + solution_id + "/";
            var status = "#status" + solution_id;
            var time = "#time" + solution_id;
            var memory = "#memory" + solution_id;
            $.getJSON(url, function (ret) {
                $(status).html(ret['status']);
                $(time).html(ret['time']);
                $(memory).html(ret['memory']);
                if (ret['status'] == "Judging" || ret['status'] == "Queuing" || ret['status'] == "Compiling" || ret['status'] == "Running") {
                    window.setTimeout("fresh_result(" + solution_id + ")", 1000);
                }
                else {
                    window.location.reload();
                }
            });
        }
        auto_refresh();
    </script>
{% endblock %}