{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block set_title %}NEAU OnlineJudge{% endblock %}</title>
		{% bootstrap_css %}
		<!--<link href={% static "css/bootstrap.min.css"%} rel="stylesheet">-->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		{% bootstrap_javascript jquery=True %}
		{% block bootstrap3_extra_head %}{% endblock %}
	</head>
	<body>
		<h1>Test</h1>
	</body>
</html>