{#{% extends "base.html" %}#}
{##}
{#{% block othercss %}#}
{#    <style type="text/css">#}
{#        .first {#}
{#            margin-top: 50px;#}
{#        }#}
{#    </style>#}
{#{% endblock %}#}
{#{% block bodytext %}#}
{#    <div class="jumbotron first">#}
{#        <!--[if IE]>#}
{#        <div style="color:#CC0000">#}
{#            <h1>Erroooooooooooooor!!!!!!</h1>#}
{#            <h1>Don't Use IE Browser!!!!!!</h1>#}
{#            <h1>Don't Use IE Browser!!!!!!</h1>#}
{#            <h1>Don't Use IE Browser!!!!!!</h1>#}
{#            <h1>(Important thing to say three times!)</h1>#}
{#            <h1>Unknown Error Occurred!!!!!!</h1>#}
{#        </div>#}
{#        <![endif]-->#}
{#        <h2>Welcome to NEAU Online Judge!</h2>#}
{##}
{#        <p>Please choose one type you are</p>#}
{#    </div>#}
{#    <div class="row" style="margin-top: 50px">#}
{#        <div class="col-sm-6 col-md-4">#}
{#            <a href="{% url 'problem_studentlist' %}">#}
{#                <div class="thumbnail">#}
{#                    <img src="/img/xiaobiao.jpg" alt="Undergraduate"#}
{#                         style="height: 170px">#}
{##}
{#                    <div class="caption">#}
{#                        <h3 style="text-align: center">Undergraduate</h3>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-sm-6 col-md-4">#}
{#            <a href="{% url 'contest_acmlist' %}">#}
{#                <div class="thumbnail">#}
{#                    <img src="/img/acm.png" alt="ACMer" style="height: 170px">#}
{##}
{#                    <div class="caption">#}
{#                        <h3 style="text-align: center">ACMer</h3>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-sm-6 col-md-4">#}
{#            <a href="{% url 'contest_vjudgelist' %}">#}
{#                <div class="thumbnail">#}
{#                    <img src="/img/vjudge.png" alt="VJudge" style="height: 170px">#}
{##}
{#                    <div class="caption">#}
{#                        <h3 style="text-align: center">VJudge</h3>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NEAU Online Judge</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" media="screen"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="/js/html5shiv.js"></script>
		<script src="/js/respond.min.js"></script>
	<![endif]-->
    <link href="/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!---- animated-css ---->
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="/js/move-top.js"></script>
    <script type="text/javascript" src="/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!---- start-smoth-scrolling---->
    <link href="/css/index_style.css" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <script>
        $(function () {
            var pull = $('#pull');
            menu = $('nav ul');
            menuHeight = menu.height();
            $(pull).on('click', function (e) {
                e.preventDefault();
                menu.slideToggle();
            });
            $(window).resize(function () {
                var w = $(window).width();
                if (w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>
    <!----//End-top-nav-script---->
</head>
<body>
<div class="bg">
    <!----- start-header---->
    <div id="home" class="header wow bounceInDown" data-wow-delay="0.4s">
        <div class="top-header">
            <div class="container">
                <div class="logo">
                    <a href="/"><h1>Online<span class="logo-clr">Judge</span></h1></a>
                </div>
                <!----start-top-nav---->
                <nav class="top-nav">
                    <ul class="top-nav">
                        <li class="active"><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'problem_acmlist' %}">Problem</a></li>
                        <li><a href="{% url 'contest_acmlist' %}">Contest</a></li>
                        <li><a href="{% url 'status' %}">Status</a></li>
                        {#                        <li><a>Rank</a></li>#}
                        {#                        <li><a>Discussion</a></li>#}
                        {#                        <li><a>Handbook</a></li>#}
                        <div style="float:left;width: 1px;height: 20px; background: #fff;margin-top:10px"></div>
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a class="dropdown-toggle scroll" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">{{ user.info.nickname }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-nav">
                                    <li><a href="{% url "userpage" user.username %}">Infomathion</a></li>
                                    <li><a href="{% url "change_password" %}">Change Password</a></li>
                                    <li><a href="{% url "edit_information" %}">Edit information</a></li>
                                    {% if perms.problem.add_problem %}
                                        <li><a href="{% url "add_problem" %}">Add Problem</a></li>
                                    {% endif %}
                                    {#                            {% if perms.contest.add_contest %}#}
                                    {#                                <li><a href="{% url "add_contest" "acm" %}">Add ACM Contest</a></li>#}
                                    {#                                <li><a href="{% url "add_contest" "student"%}">Add Student Contest</a></li>#}
                                    {#                            {% endif %}#}
                                    {% if perms.auth.add_permission %}
                                        <li><a href="{% url "permission" %}">Permission</a></li>
                                    {% endif %}
                                    {% if perms.auth.change_user %}
                                        <li><a href="{% url "useradmin" %}">Users</a></li>
                                    {% endif %}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url "logout" %}">Logout</a></li>
                                </ul>
                            </li>
                            {#                            <li class="welcome"><h4><span class="label label-primary">Welcome <a href="{% url "userpage" user.username %}">{{ user.info.nickname }}</a>.<a href={% url "logout" %}> Logout.</a> </span></h4></li>#}
                        {% else %}
                            <li><a class="scroll" data-toggle="modal" data-target="#LoginModal" href="#">Login</a></li>
                            <li><a href="#contact" class="scroll">Register</a></li>
                        {% endif %}

                    </ul>
                    <a href="#" id="pull"><img src="/img/menu-icon.png" title="menu"/></a>
                </nav>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog login" role="document">
            <div class="modal-content modal-index">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title modal-index-text" id="myModalLabel">Login</h4>
                </div>
                <form id="login" method="POST" action={% url "login" %}>
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleInputUsername" class="modal-index-text">Username</label>
                            <input type="username" name="username" class="form-control" id="username"
                                   placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="modal-index-text">Password</label>
                            <input type="password" name="password" class="form-control" id="password"
                                   placeholder="Password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" value="login" class="btn btn-primary">Login</button>
                        <input type="hidden" name="next" value="{{ path|escape }}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!----- //End-header---->
    <!---- banner ---->
    <div class="banner wow fadeIn" data-wow-delay="0.5s">
        <div class="container">
            <div class="banner-info text-center">
                <!--[if IE]>
                    <div style="margin-top:-150px">
                        <h1 style="color:#CC0000">Erroooooooooooooor!!!!!!</h1>
                        <h1 style="color:#CC0000">Don't Use IE Browser!!!!!!</h1>
                        <h1 style="color:#CC0000">Don't Use IE Browser!!!!!!</h1>
                        <h1 style="color:#CC0000">Don't Use IE Browser!!!!!!</h1>
                        <h1 style="color:#CC0000">(Important thing to say three times!)</h1>
                        <h1 style="color:#CC0000">Unknown Error Occurred!!!!!!</h1>
                    </div>
                <![endif]-->
                <h1>Welcome to NEAU Online Judge!</h1><br/>
                <span> </span>

                <p>Please choose one type you are:</p>
            </div>
            <div class="services-grids text-center">
                <div class="col-md-4">
                    <div class="service-grid wow bounceIn" data-wow-delay="0.4s">

                        <h3><a href="{% url 'contest_studentlist' %}"><span class="service-icon1"> </span><br>Undergraduate</a>
                        </h3>

                        <p>Using a single set of data to judge.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-grid wow bounceIn" data-wow-delay="0.4s">

                        <h3><a href="{% url 'contest_acmlist' %}"><span class="service-icon2"> </span><br>ACM/ICPC</a>
                        </h3>

                        <p>Using multiple sets of data to judge.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-grid wow bounceIn" data-wow-delay="0.4s">

                        <h3><a href="{% url 'contest_vjudgelist' %}"><span class="service-icon3"> </span><br>VJudge</a>
                        </h3>

                        <p>Virtual judge.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!---- banner ---->
{#<!--- services --->#}
{#<div id="services" class="services">#}
{#    <div class="container">#}
{#        <div class="service-head text-center">#}
{#            <h2>Coding Type</h2>#}
{#            <span> </span>#}
{#        </div>#}
{#        <!--- services-grids --->#}
{##}
{#        <!--- services-grids --->#}
{#    </div>#}
{#</div>#}
{#<!--- services --->#}
<div class="clearfix"></div>
<!--- Other Expertise ---->
<div id="port" class="expertise">
    <div class="expertice-grids">
        <div class="col-md-8 expertice-left-grid wow fadeInLeft" data-wow-delay="0.4s">
            <div class="expertise-head">
                <h3><span>About</span> ACM/ICPC</h3>

                <p>ACM国际大学生程序设计竞赛（英文全称：ACM International Collegiate Programming
                    Contest（简称ACM-ICPC或ICPC））是由美国计算机协会（ACM）主办的，一项旨在展示大学生创新能力、团队精神和在压力下编写程序、分析和解决问题能力的年度竞赛。经过近40年的发展，ACM国际大学生程序设计竞赛已经发展成为全球最具影响力的大学生程序设计竞赛。赛事目前由IBM公司赞助。</p>
            </div>
            <div class="expertise-left-inner-grids">
                <div class="e-left-inner-grid">
                    <div class="e-left-inner-grid-left">
                        <span class="e-icon1"> </span>
                    </div>
                    <div class="e-left-inner-grid-right">
                        <h4>Custom setup</h4>

                        <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean
                            rhoncus.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="e-left-inner-grid">
                    <div class="e-left-inner-grid-left">
                        <span class="e-icon2"> </span>
                    </div>
                    <div class="e-left-inner-grid-right">
                        <h4>Cloud control</h4>

                        <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean
                            rhoncus.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="e-left-inner-grid">
                    <div class="e-left-inner-grid-left">
                        <span class="e-icon3"> </span>
                    </div>
                    <div class="e-left-inner-grid-right">
                        <h4>All star support team</h4>

                        <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean
                            rhoncus.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="e-left-inner-grid">
                    <div class="e-left-inner-grid-left">
                        <span class="e-icon4"> </span>
                    </div>
                    <div class="e-left-inner-grid-right">
                        <h4>top notch security</h4>

                        <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean
                            rhoncus.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <a class="leran-more" href="#">Learn more</a>
        </div>
        <div class="col-md-4 expertice-right-grid wow fadeInRight" data-wow-delay="0.4s">

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--- Other Expertise ---->
<!--- portfolio ---->
<div class="portfolio">
    <div class="portfolio-top">
        <div class="col-md-8">
            <div class="portfolio-top-left wow fadeInLeft" data-wow-delay="0.4s">
                <h3>Our <span>Team</span></h3>

                <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus
                    posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum
                    suscipit.</p>

                <p>Iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere
                    odio in tincidunt. Proin iaculis purus consequat.</p>

                <div class="portfolio-top-left-grids">
                    <div class="portfolio-top-left-grid">
                        <div class="portfolio-top-left-grid-left">
                            <span class="p-icon1"> </span>
                        </div>
                        <div class="portfolio-top-left-grid-right">
                            <h5>Sail Away Your Worries</h5>

                            <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean
                                rhoncus posuere odio in tincidunt. </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portfolio-top-left-grid">
                        <div class="portfolio-top-left-grid-left">
                            <span class="p-icon2"> </span>
                        </div>
                        <div class="portfolio-top-left-grid-right">
                            <h5>All-star support team</h5>

                            <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean
                                rhoncus posuere odio in tincidunt. </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portfolio-top-left-grid">
                        <div class="portfolio-top-left-grid-left">
                            <span class="p-icon3"> </span>
                        </div>
                        <div class="portfolio-top-left-grid-right">
                            <h5>fully Integrated service</h5>

                            <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean
                                rhoncus posuere odio in tincidunt. </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 portfolio-top-right-inner wow fadeInRight" data-wow-delay="0.4s">
            <div class="portfolio-top-right">

            </div>
        </div>
        <div class="clearfix"></div>
        <!---- portfolio-works ---->
        <div class="portfolio-works">
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="/img/p1.jpg" title="name"/>
                        <figcaption>
                            <h2>Strong <span>Apollo</span></h2>

                            <p>Apollo's last game of pool was so strange.</p>
                        </figcaption>
                    </figure>
                </div>
                <!--<div class="portfolio-work-grid-pic">
					<img src="/img/p1.jpg" title="name" />
				</div>
				<div class="portfolio-work-grid-caption">
					<h4>title</h4>
					<p></p>
				</div>-->
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="/img/p2.jpg" title="name"/>
                        <figcaption>
                            <h2>Strong <span>Apollo</span></h2>

                            <p>Apollo's last game of pool was so strange.</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="/img/p3.jpg" title="name"/>
                        <figcaption>
                            <h2>Strong <span>Apollo</span></h2>

                            <p>Apollo's last game of pool was so strange.</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="/img/p4.jpg" title="name"/>
                        <figcaption>
                            <h2>Strong <span>Apollo</span></h2>

                            <p>Apollo's last game of pool was so strange.</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="/img/p5.jpg" title="name"/>
                        <figcaption>
                            <h2>Strong <span>Apollo</span></h2>

                            <p>Apollo's last game of pool was so strange.</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="/img/p6.jpg" title="name"/>
                        <figcaption>
                            <h2>Strong <span>Apollo</span></h2>

                            <p>Apollo's last game of pool was so strange.</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!---- portfolio-works ---->
    </div>
</div>
<!--- portfolio ---->
<!---- about ---->
<!---start-about---->
<div class="about">
    <div class="wrap">
        <div class="about-head">
            <h1>About us</h1>
            <span> </span>
        </div>
        <!---start-about-time-line---->
        <div class="about-time-line">
            <li>
                <div class="cbp_tmicon img1"></div>
                <div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
                    <h2>July 2010 Our Humble Beginnings</h2>

                    <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus
                        posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora
                        entum suscipit.</p>
                </div>
            </li>
            <li>
                <div class="cbp_tmicon1 img2"></div>
                <div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
                    <h2>January 2011 Facing Startup Battles </h2>

                    <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus
                        posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora
                        entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
                </div>
            </li>
            <br/>
            <li>
                <div class="cbp_tmicon2 img3"></div>
                <div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
                    <h2>December 2012 Enter The Dark Days </h2>

                    <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus
                        posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni.</p>
                </div>
            </li>
            <li>
                <div class="cbp_tmicon3 img4"></div>
                <div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
                    <h2>January 2013Our Triumph </h2>

                    <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus
                        posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora
                        entum suscipit aenean.</p>
                </div>
            </li>
            <li>
                <div class="cbp_tmicon4 img5"></div>
            </li>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!---//End-about-time-line---->
    <!---- about ---->
</div>
<!---- team --->
<div id="team" class="team-members">
    <div class="wrap">
        <div class="tm-head">
            <h3>SNS</h3>

            <p>Pay attention to us.</p>
        </div>
        <div class="tm-head-grids">
            <!--<div class="tm-head-grid wow fadeInLeft" data-wow-delay="0.4s">
				<img src="/img/team-member1.jpg" alt="">
				<h4>Kimberly Thompson</h4>
				<h5>Marketer</h5>
				<ul class="top-social-icons">
					<li><a class="twitter" href="#"> </a></li>
					<li><a class="facebook" href="#"> </a></li>
					<li><a class="pin" href="#"> </a></li>
					<div class="clear"> </div>
				</ul>
			</div>
			<div class="tm-head-grid wow fadeInUp" data-wow-delay="0.4s">
				<img src="/img/team-member2.jpg" alt="">
				<h4>Rico Massimo</h4>
				<h5>Coder</h5>
				<ul class="top-social-icons">
					<li><a class="twitter" href="#"> </a></li>
					<li><a class="facebook" href="#"> </a></li>
					<li><a class="pin" href="#"> </a></li>
					<div class="clear"> </div>
				</ul>
			</div>-->
            <div class="tm-head-grid wow fadeInRight" data-wow-delay="0.4s">
                <img src="/img/team.jpg" alt="">
                <h4>东北农业大学</h4>
                <h5>ACM集训队</h5>
                <ul class="top-social-icons">
                    <li><a class="weibo" href="#"> </a></li>
                    <li><a class="qq" href="#"> </a></li>
                    <li><a class="weixin" href="#"> </a></li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <p class="team-info"></p>
    </div>
</div>
<!---- team --->
<!---- contact --->
{% if not user.is_authenticated %}
    <div id="contact" class="contact">
        <div class="container">
            <form id="login" method="POST" action={% url "register" %}>
                {% csrf_token %}
                <div class="col-md-6">
                    <div class="wow fadeInLeft" data-wow-delay="0.4s">
                        <h3>Register</h3>
                        <label>Don't be shy, drop us an email and say hello! We are a really nice bunch of people
                            :)</label>
                        <input type="text" name="username" class="text" placeholder="Username...">
                        <input type="password" name="password1" class="text" placeholder="Password...">
                        <input type="password" name="password2" class="text" placeholder="Password confirmation...">

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="wow fadeInRight" data-wow-delay="0.4s">
                        <input type="text" name="nickname" class="text" placeholder="Nickname...">
                        <input type="text" name="email" class="text" placeholder="Email...">
                        <select class="form-control" id="id_school" name="school">
                            <option value="" selected="selected">School</option>
                            <option value="neau">东北农业大学</option>
                            <option value="others">其他</option>
                        </select>
                        <select class="form-control" id="id_grade" name="grade">
                            <option value="" selected="selected">Grade</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                        </select>
                        <!--<input type="text" class="text" value="Name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name...';}">
						 <input type="text" class="text" value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}">
						  <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea>-->
                        <input class="wow shake" data-wow-delay="0.3s" type="submit" value="Register"/>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
{% endif %}
<!---- contact --->
<!--- copy-right ---->
<div class="copy-right text-center">
    <p>Copyright&copy; 2015 - {% now "Y" %} <a href="mailto:neauacm@163.com"><strong>NEAU ACM Team</strong></a> All
        Rights
        Reserved.<br/>Any questions,please contact the <a href="mailto:code_cola@163.com"><strong>Author</strong></a>.
    </p>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
             var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
             };
             */

            $().UItoTop({easingType: 'easeOutQuart'});

        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>
<!--- copy-right ---->
</div>
</body>
</html>

