{#{% extends "base.html" %}#}
{##}
{#{% block othercss %}#}
{#    <style type="text/css">#}
{#        .first {#}
{#            margin-top: 50px;#}
{#        }#}
{#    </style>#}
{#{% endblock %}#}
{#{% block bodytext %}#}
{#    <div class="jumbotron first">#}
{#        <!--[if IE]>#}
{#        <div style="color:#CC0000">#}
{#            <h1>Erroooooooooooooor!!!!!!</h1>#}
{#            <h1>Don't Use IE Browser!!!!!!</h1>#}
{#            <h1>Don't Use IE Browser!!!!!!</h1>#}
{#            <h1>Don't Use IE Browser!!!!!!</h1>#}
{#            <h1>(Important thing to say three times!)</h1>#}
{#            <h1>Unknown Error Occurred!!!!!!</h1>#}
{#        </div>#}
{#        <![endif]-->#}
{#        <h2>Welcome to NEAU Online Judge!</h2>#}
{##}
{#        <p>Please choose one type you are</p>#}
{#    </div>#}
{#    <div class="row" style="margin-top: 50px">#}
{#        <div class="col-sm-6 col-md-4">#}
{#            <a href="{% url 'problem_studentlist' %}">#}
{#                <div class="thumbnail">#}
{#                    <img src="/img/xiaobiao.jpg" alt="Undergraduate"#}
{#                         style="height: 170px">#}
{##}
{#                    <div class="caption">#}
{#                        <h3 style="text-align: center">Undergraduate</h3>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-sm-6 col-md-4">#}
{#            <a href="{% url 'contest_acmlist' %}">#}
{#                <div class="thumbnail">#}
{#                    <img src="/img/acm.png" alt="ACMer" style="height: 170px">#}
{##}
{#                    <div class="caption">#}
{#                        <h3 style="text-align: center">ACMer</h3>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-sm-6 col-md-4">#}
{#            <a href="{% url 'contest_vjudgelist' %}">#}
{#                <div class="thumbnail">#}
{#                    <img src="/img/vjudge.png" alt="VJudge" style="height: 170px">#}
{##}
{#                    <div class="caption">#}
{#                        <h3 style="text-align: center">VJudge</h3>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NEAU Online Judge</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" media="screen"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="/js/html5shiv.js"></script>
		<script src="/js/respond.min.js"></script>
	<![endif]-->
    <link href="/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!---- animated-css ---->
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="/js/move-top.js"></script>
    <script type="text/javascript" src="/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!---- start-smoth-scrolling---->
    <link href="/css/index_style.css" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <script>
        $(function () {
            var pull = $('#pull');
            menu = $('nav ul');
            menuHeight = menu.height();
            $(pull).on('click', function (e) {
                e.preventDefault();
                menu.slideToggle();
            });
            $(window).resize(function () {
                var w = $(window).width();
                if (w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>
    <!----//End-top-nav-script---->
</head>
<body>
<div class="bg">
    <!----- start-header---->
    <div id="home" class="header wow bounceInDown" data-wow-delay="0.4s">
        <div class="top-header">
            <div class="container">
                <div class="logo">
                    <a href="/"><h1>Online<span class="logo-clr">Judge</span></h1></a>
                </div>
                <!----start-top-nav---->
                <nav class="top-nav">
                    <ul class="top-nav">
                        <li class="active"><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'problem_acmlist' %}">Problem</a></li>
                        <li><a href="{% url 'contest_acmlist' %}">Contest</a></li>
                        <li><a href="{% url 'status' %}">Status</a></li>
                        {#                        <li><a>Rank</a></li>#}
                        {#                        <li><a>Discussion</a></li>#}
                        {#                        <li><a>Handbook</a></li>#}
                        <div style="float:left;width: 1px;height: 20px; background: #fff;margin-top:10px"></div>
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a class="dropdown-toggle scroll" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">{{ user.info.nickname }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-nav">
                                    <li><a href="{% url "userpage" user.username %}">Infomathion</a></li>
                                    <li><a href="{% url "change_password" %}">Change Password</a></li>
                                    <li><a href="{% url "edit_information" %}">Edit information</a></li>
                                    {% if perms.problem.add_problem %}
                                        <li><a href="{% url "add_problem" %}">Add Problem</a></li>
                                    {% endif %}
                                    {% if perms.problem.add_problem %}
                                        <li><a href="{% url "test_problem" %}">Test Problem</a></li>
                                    {% endif %}
                                    {#                            {% if perms.contest.add_contest %}#}
                                    {#                                <li><a href="{% url "add_contest" "acm" %}">Add ACM Contest</a></li>#}
                                    {#                                <li><a href="{% url "add_contest" "student"%}">Add Student Contest</a></li>#}
                                    {#                            {% endif %}#}
                                    {% if perms.auth.add_permission %}
                                        <li><a href="{% url "permission" %}">Permission</a></li>
                                    {% endif %}
                                    {% if perms.auth.change_user %}
                                        <li><a href="{% url "useradmin" %}">Users</a></li>
                                    {% endif %}
                                    {% if perms.contest.add_contest %}
                                        <li><a href="{% url "clone_contest" %}">Clone Contest</a></li>
                                    {% endif %}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url "logout" %}">Logout</a></li>
                                </ul>
                            </li>
                            {#                            <li class="welcome"><h4><span class="label label-primary">Welcome <a href="{% url "userpage" user.username %}">{{ user.info.nickname }}</a>.<a href={% url "logout" %}> Logout.</a> </span></h4></li>#}
                        {% else %}
                            <li><a class="scroll" data-toggle="modal" data-target="#LoginModal" href="#">Login</a></li>
                            <li><a href="#contact" class="scroll">Register</a></li>
                        {% endif %}

                    </ul>
                    <a href="#" id="pull"><img src="/img/menu-icon.png" title="menu"/></a>
                </nav>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog login" role="document">
            <div class="modal-content modal-index">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title modal-index-text" id="myModalLabel">Login</h4>
                </div>
                <form id="login" method="POST" action={% url "login" %}>
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleInputUsername" class="modal-index-text">Username</label>
                            <input type="username" name="username" class="form-control" id="username"
                                   placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="modal-index-text">Password</label>
                            <input type="password" name="password" class="form-control" id="password"
                                   placeholder="Password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" value="login" class="btn btn-primary">Login</button>
                        <input type="hidden" name="next" value="{{ path|escape }}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!----- //End-header---->
    <!---- banner ---->
    <div class="banner wow fadeIn" data-wow-delay="0.5s">
        <div class="container">
            <div class="banner-info text-center">
                <!--[if IE]>
                    <div style="margin-top:-150px">
                        <h1 style="color:#CC0000">Erroooooooooooooor!!!!!!</h1>
                        <h1 style="color:#CC0000">Don't Use IE Browser!!!!!!</h1>
                        <h1 style="color:#CC0000">Don't Use IE Browser!!!!!!</h1>
                        <h1 style="color:#CC0000">Don't Use IE Browser!!!!!!</h1>
                        <h1 style="color:#CC0000">(Important thing to say three times!)</h1>
                        <h1 style="color:#CC0000">Unknown Error Occurred!!!!!!</h1>
                    </div>
                <![endif]-->
                <h1>Welcome to NEAU Online Judge!</h1><br/>
                <span> </span>

                <p>Please choose one type you are:</p>
            </div>
            <div class="services-grids text-center">
                <div class="col-md-4">
                    <div class="service-grid wow bounceIn" data-wow-delay="0.4s">

                        <h3><a href="{% url 'contest_studentlist' %}"><span class="service-icon1"> </span><br>Undergraduate</a>
                        </h3>

                        <p>Using a single set of data to judge.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-grid wow bounceIn" data-wow-delay="0.4s">

                        <h3><a href="{% url 'contest_acmlist' %}"><span class="service-icon2"> </span><br>ACM/ICPC</a>
                        </h3>

                        <p>Using multiple sets of data to judge.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-grid wow bounceIn" data-wow-delay="0.4s">

                        <h3><a href="{% url 'contest_vjudgelist' %}"><span class="service-icon3"> </span><br>VJudge</a>
                        </h3>

                        <p>Virtual judge.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!---- banner ---->
{#<!--- services --->#}
{#<div id="services" class="services">#}
{#    <div class="container">#}
{#        <div class="service-head text-center">#}
{#            <h2>Coding Type</h2>#}
{#            <span> </span>#}
{#        </div>#}
{#        <!--- services-grids --->#}
{##}
{#        <!--- services-grids --->#}
{#    </div>#}
{#</div>#}
{#<!--- services --->#}
<div class="clearfix"></div>
<!--- Other Expertise ---->
<div id="port" class="expertise">
    <div class="expertice-grids">
        <div class="col-md-8 expertice-left-grid wow fadeInLeft" data-wow-delay="0.4s">
            <div class="expertise-head">
                <h3><span>About</span> ACM/ICPC</h3>

                <p>ACM国际大学生程序设计竞赛（ACM/ICPC）是由ACM（Association for Computing
                    Machinery，美国计算机协会）主办的，一项旨在展示大学生创新能力、团队精神和在压力下编写程序、分析和解决问题能力的年度竞赛，竞赛的历史可以上溯到1970年，是全世界历史最悠久、规模最大、最负盛名且最具影响力的程序设计竞赛，被誉为计算机软件领域的奥林匹克竞赛，目前全球赛事由IBM公司赞助，我国上海交通大学和浙江大学曾荣获全球总冠军。</p>
            </div>
            <div class="expertise-left-inner-grids">
                <div class="e-left-inner-grid">
                    <div class="e-left-inner-grid-left">
                        <span class="e-icon1"> </span>
                    </div>
                    <div class="e-left-inner-grid-right">
                        <h4>竞赛形式</h4>

                        <p>
                            ACM-ICPC以团队的形式代表各学校参赛，每队最多由3名队员组成。比赛期间，每队使用1台电脑需要在5个小时内使用C、C++、Pascal或Java中的一种编写程序解决7到11个问题，试题描述为英文。</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="e-left-inner-grid">
                    <div class="e-left-inner-grid-left">
                        <span class="e-icon2"> </span>
                    </div>
                    <div class="e-left-inner-grid-right">
                        <h4>评分标准</h4>

                        <p>程序提交裁判运行，结果会及时通知参赛队。获胜者为正确解答题目最多且总用时最少的队伍。每道的试题用时将从竞赛开始到试题解答被判定为正确为止，其间每一次错误结果将被加罚20分钟时间。</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="e-left-inner-grid">
                    <div class="e-left-inner-grid-left">
                        <span class="e-icon3"> </span>
                    </div>
                    <div class="e-left-inner-grid-right">
                        <h4>赛事构成</h4>

                        <p>赛事由各大洲区域预赛和全球总决赛两个阶段组成 。决赛安排在每年的3-5月举行，而区域预赛一般安排在上一年的9-12月举行。一个大学只能有一支队伍参加全球总决赛。</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="e-left-inner-grid">
                    <div class="e-left-inner-grid-left">
                        <span class="e-icon4"> </span>
                    </div>
                    <div class="e-left-inner-grid-right">
                        <h4>奖励情况</h4>

                        <p>区域赛一般分别按10%，20%，30%的比例颁发金，银，铜奖，2010年亚洲区域赛中国大陆5大赛区由阿里巴巴公司赞助，获得金牌的选手可以享受绿色通道，进入阿里巴巴实习或参加工作。</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <a class="leran-more" href="http://acmicpc.info/" target="_blank">Learn more</a>
        </div>
        <div class="col-md-4 expertice-right-grid wow fadeInRight" data-wow-delay="0.4s">

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--- Other Expertise ---->
<!--- portfolio ---->
<div class="portfolio">
    <div class="portfolio-top">
        <div class="col-md-8">
            <div class="portfolio-top-left wow fadeInLeft" data-wow-delay="0.4s">
                <h3>Our <span>Team</span></h3>

                <div class="portfolio-top-left-grids">
                    <div class="portfolio-top-left-grid">
                        <div class="portfolio-top-left-grid-left">
                            <span class="p-icon1"> </span>
                        </div>
                        <div class="portfolio-top-left-grid-right">
                            <h5>发展历史</h5>

                            <p>
                                东北农业大学ACM集训队成立于2011年，到现在已有五年的历史。集训队在正式成立之前属于计算机协会，之后从计算机协会分立出来。ACM集训队成立的目的旨在培养在算法、程序设计等方面优秀的创新型人才，代表学校参加ACM国际大学生程序设计竞赛省赛、区域赛等各类程序设计竞赛。</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portfolio-top-left-grid">
                        <div class="portfolio-top-left-grid-left">
                            <span class="p-icon2"> </span>
                        </div>
                        <div class="portfolio-top-left-grid-right">
                            <h5>现有规模</h5>

                            <p>
                                由我校计算机系系主任李晓明老师担任教练，历任三届队长，分别是软件2009级徐婷婷、微机2011级童健康和微机2013级刘佳澍，集训队现有队员共44名，包括29名2015级队员，12名2014级队员，3名2013级队员。</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portfolio-top-left-grid">
                        <div class="portfolio-top-left-grid-left">
                            <span class="p-icon3"> </span>
                        </div>
                        <div class="portfolio-top-left-grid-right">
                            <h5>所获荣誉</h5>

                            <p>自集训队成立以来，在教练的带领下以及所有队员的共同努力下，我校ACM集训队的发展正处于稳步上升阶段，到目前为止，集训队队员共获得120余项奖项。</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 portfolio-top-right-inner wow fadeInRight" data-wow-delay="0.4s">
            <div class="portfolio-top-right">

            </div>
        </div>
        <div class="clearfix"></div>
        <!---- portfolio-works ---->
        <div class="portfolio-works">
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="/img/p1.jpg" title="name"/>
                        <figcaption>
                            <h2>2014年<span>5月</span></h2>

                            <p>黑龙江省第九届大学生程序设计竞赛</p>
                        </figcaption>
                    </figure>
                </div>
                <!--<div class="portfolio-work-grid-pic">
					<img src="/img/p1.jpg" title="name" />
				</div>
				<div class="portfolio-work-grid-caption">
					<h4>title</h4>
					<p></p>
				</div>-->
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="/img/p2.jpg" title="name"/>
                        <figcaption>
                            <h2>2013年<span>5月</span></h2>

                            <p>黑龙江省第八届大学生程序设计竞赛</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="/img/p3.jpg" title="name"/>
                        <figcaption>
                            <h2>2012年<span>5月</span></h2>

                            <p>黑龙江省第七届大学生程序设计竞赛</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="/img/p4.jpg" title="name"/>
                        <figcaption>
                            <h2>2015年<span>5月</span></h2>

                            <p>黑龙江省第十届大学生程序设计竞赛</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="/img/p5.jpg" title="name"/>
                        <figcaption>
                            <h2>2015年<span>6月</span></h2>

                            <p>东北地区第九届大学生程序设计竞赛</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="/img/p6.jpg" title="name"/>
                        <figcaption>
                            <h2>2013年<span>5月</span></h2>

                            <p>2013年ACM/ICPC通化邀请赛</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!---- portfolio-works ---->
    </div>
</div>
<!--- portfolio ---->
<!---- about ---->
<!---start-about---->
<div class="about">
    <div class="wrap">
        <div class="about-head">
            <h1>About us</h1>
            <span> </span>
        </div>
        <!---start-about-time-line---->
        <div class="about-time-line">
            <li>
                <div class="cbp_tmicon img1"></div>
                <div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
                    <h2>This is Lord.</h2>

                    <p>李晓明老师长期从事大学生科技创新活动的指导工作，指导集训队参加国际大学生程序设计竞赛、全国软件设计和开发大赛等赛事，并取得过国家一等奖、二等奖、省一等奖等优异成绩。</p>
                </div>
            </li>
            <li>
                <div class="cbp_tmicon1 img2"></div>
                <div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
                    <h2>Team Founder</h2>

                    <p>徐婷婷，集训队从无到有的创始人，鼻祖级人物。</p>

                    <p>战斗指数：
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        曾取得亚洲区域邀请赛铜奖，四省赛一等奖，省赛一等奖等优异成绩。
                    </p>

                    <p>贴心指数：
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        曾获得集训队授予的幼儿园阿姨称号，照顾集训队生活起居。
                    </p>

                    <p>生活指数：
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        男女可通吃，上的了厅堂，下得了厨房，写得了代码，查的出异常。
                    </p>
                </div>
            </li>
            <br/>
            <li>
                <div class="cbp_tmicon2 img3"></div>
                <div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
                    <h2>2011 - 2013 Our Team</h2>

                    <p></p>
                </div>
            </li>
            <li>
                <div class="cbp_tmicon3 img4"></div>
                <div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
                    <h2>2013 - 2015 Our Team</h2>

                    <p></p>
                </div>
            </li>
            <li>
                <div class="cbp_tmicon4 img5"></div>
            </li>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!---//End-about-time-line---->
    <!---- about ---->
</div>
<!---- team --->
<div id="team" class="team-members">
    <div class="wrap">
        <div class="tm-head">
            <h3>SNS</h3>

            <p>Pay attention to us.</p>
        </div>
        <div class="tm-head-grids">
            <div class="tm-head-grid wow fadeInRight" data-wow-delay="0.4s">
                <img src="/img/team.jpg" alt="">
                <h4>东北农业大学</h4>
                <h5>ACM集训队</h5>
                <ul class="top-social-icons">
                    <li><a class="weibo" href="javascript:void(0);"> </a></li>
                    <li><a class="qq" href="javascript:void(0);"> </a></li>
                    <li><a class="weixin" href="javascript:void(0);"> </a></li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <p class="team-info"></p>
    </div>
</div>
<!---- team --->
<!---- contact --->
{% if not user.is_authenticated %}
    <div id="contact" class="contact">
        <div class="container">
            <form id="login" method="POST" action={% url "register" %}>
                {% csrf_token %}
                <div class="col-md-6">
                    <div class="wow fadeInLeft" data-wow-delay="0.4s">
                        <h3>Register</h3>
                        <label>Don't be shy,join us and fight together! Enjoy the fun of programming:)</label>
                        <input type="text" name="username" class="text" placeholder="Username...">
                        <input type="password" name="password1" class="text" placeholder="Password...">
                        <input type="password" name="password2" class="text" placeholder="Password confirmation...">

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="wow fadeInRight" data-wow-delay="0.4s">
                        <input type="text" name="nickname" class="text" placeholder="Nickname...">
                        <input type="text" name="email" class="text" placeholder="Email...">
                        <select class="form-control" id="id_school" name="school">
                            <option value="" selected="selected">School</option>
                            <option value="neau">东北农业大学</option>
                            <option value="others">其他</option>
                        </select>
                        <select class="form-control" id="id_grade" name="grade">
                            <option value="" selected="selected">Grade</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                        </select>
                        <!--<input type="text" class="text" value="Name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name...';}">
						 <input type="text" class="text" value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}">
						  <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea>-->
                        <input class="wow shake" data-wow-delay="0.3s" type="submit" value="Register"/>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
{% endif %}
<!---- contact --->
<!--- copy-right ---->
<div class="copy-right text-center">
    <p>Copyright&copy; 2015 - {% now "Y" %} <a href="mailto:neauacm@163.com"><strong>NEAU ACM Team</strong></a> All
        Rights
        Reserved.<br/>Any questions,please contact the <a href="mailto:code_cola@163.com"><strong>Author</strong></a>.
        <br/><a href="http://www.miitbeian.gov.cn" target="_blank">京ICP备16001627号-1</a>
    </p>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
             var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
             };
             */

            $().UItoTop({easingType: 'easeOutQuart'});

        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>
<!--- copy-right ---->
</body>
</html>

