{% extends 'base.html' %}
{% block set_title %}Problem - {{ pname }}{% endblock %}
{% block bodytext %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    <h3>Title</h3>
    <p>{{ title|safe }}</p>
    <h3>Description</h3>
    <p>{{ description|safe }}</p>
    <h3>Input</h3>
    <p>{{ input|safe }}</p>
    <h3>Output</h3>
    <p>{{ output|safe }}</p>
    <h3>Sample Input</h3>
    <p>{{ sinput|safe }}</p>
    <h3>Sample Output</h3>
    <p>{{ soutput|safe }}</p>
    <h3>Hint</h3>
    <p>{{ hint|safe }}</p>
    <h3>Author</h3>
    <p>{{ author|safe }}</p>
{% endblock %}